absl-py==0.9.0
altair==4.1.0
appdirs==1.4.4
arrow==0.15.6
asgiref==3.2.3
astor==0.8.1
atari-py==0.2.6
attrs==19.3.0
backcall==0.1.0
base58==2.0.0
beautifulsoup4==4.9.0
beeware==0.3.0
binaryornot==0.4.4
bleach==3.1.5
blinker==1.4
boto3==1.13.8
botocore==1.16.8
bottle==0.12.18
briefcase==0.3.0
buildozer==1.0
CacheControl==0.12.6
cachetools==4.0.0
certifi==2019.11.28
chardet==3.0.4
chart-studio==1.1.0
Click==7.0
cloudpickle==1.2.2
colorama==0.4.3
cookiecutter==1.7.2
copyleaks==2.5.5
cycler==0.10.0
dash==1.9.1
dash-core-components==1.8.1
dash-html-components==1.0.2
dash-renderer==1.2.4
dash-table==4.6.1
decorator==4.4.2
defusedxml==0.6.0
dill==0.3.1.1
distlib==0.3.0
Django==3.0.1
docutils==0.15.2
entrypoints==0.3
enum-compat==0.0.3
enum34==1.1.10
ffmpeg==1.4
ffmpegwrapper==0.1.dev0
filelock==3.0.12
firebase-admin==4.3.0
Flask==1.1.1
Flask-Compress==1.4.0
Flask-Mail==0.9.1
Flask-MySQLdb==0.2.0
future==0.18.2
futures==3.1.1
gast==0.2.2
gcloud==0.17.0
gitdb==4.0.5
GitPython==3.1.2
google-api-core==1.17.0
google-api-python-client==1.8.3
google-auth==1.15.0
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.4.1
google-cloud-core==1.3.0
google-cloud-firestore==1.7.0
google-cloud-storage==1.28.1
google-pasta==0.1.8
google-resumable-media==0.5.0
googleapis-common-protos==1.51.0
goslate==1.5.1
grpcio==1.26.0
gym==0.15.4
h5py==2.10.0
httplib2==0.17.0
idna==2.8
importlib-metadata==1.6.0
importlib-resources==1.5.0
ipykernel==5.2.1
ipython==7.14.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
itsdangerous==1.1.0
jedi==0.17.0
Jinja2==2.10.3
jinja2-time==0.2.0
jmespath==0.10.0
json5==0.9.4
jsonschema==3.2.0
jupyter-client==6.1.3
jupyter-core==4.6.3
jupyterlab==2.1.2
jupyterlab-server==1.1.4
jws==0.1.3
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
keyboard==0.13.5
Kivy==1.11.1
kivy-deps.angle==0.2.0
kivy-deps.glew==0.2.0
kivy-deps.gstreamer==0.2.0
kivy-deps.sdl2==0.2.0
Kivy-Garden==0.1.4
kiwisolver==1.1.0
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.1.2
mingus==0.6.0
mistune==0.8.4
mnist==0.2.2
mpmath==1.1.0
msgpack==1.0.0
multiprocess==0.70.9
mysqlclient==1.4.6
nbconvert==5.6.1
nbformat==5.0.6
nltk==3.4.5
notebook==6.0.3
numpy==1.18.0
oauth2client==3.0.0
oauthlib==3.1.0
opencv-python==4.1.2.30
opt-einsum==3.1.0
packaging==20.3
pandas==0.25.3
pandocfilters==1.4.2
parso==0.7.0
pathtools==0.1.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==6.2.1
plotly==4.5.4
poyo==0.5.0
prometheus-client==0.7.1
prompt-toolkit==3.0.5
protobuf==3.11.2
PTable==0.9.2
ptyprocess==0.6.0
py4j==0.10.7
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycryptodome==3.4.3
pydeck==0.3.1
PyDictionary==1.5.2
pydu==0.7.2
pydub==0.23.1
pyenchant==3.0.1
pyFluidSynth==1.2.5
pygame==1.9.6
pyglet==1.3.2
Pygments==2.6.1
PyJWT==1.7.1
pyparsing==2.4.6
pypiwin32==223
Pyrebase==3.0.27
pyrsistent==0.16.0
PySocks==1.7.1
pyspark==2.4.5
python-dateutil==2.8.1
python-jwt==2.0.1
python-slugify==4.0.0
PyTuning==0.7.2
pytz==2019.3
pywin32==227
pywinpty==0.5.7
PyYAML==5.2
pyzbar==0.1.8
pyzmq==19.0.1
requests==2.23.0
requests-futures==1.0.0
requests-oauthlib==1.3.0
requests-toolbelt==0.7.0
retrying==1.3.3
rsa==4.0
s3transfer==0.3.3
scipy==1.4.1
seaborn==0.9.0
selenium==3.141.0
Send2Trash==1.5.0
sh==1.13.1
sinchsms==1.0.4
six==1.13.0
smmap==3.0.4
soupsieve==2.0
sqlparse==0.3.0
statistics==1.0.3.5
streamlit==0.59.0
sympy==1.5.1
tabulate==0.8.6
tensorboard==2.0.2
tensorflow==2.0.0
tensorflow-estimator==2.0.1
tensorflow-gpu==2.0.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
text-unidecode==1.3
textblob==0.15.3
tflearn==0.3.2
toml==0.10.0
toolz==0.10.0
torch==1.3.1
torchvision==0.4.2
tornado==5.1.1
traitlets==4.3.3
tweepy==3.8.0
twilio==6.35.5
tzlocal==2.1
uritemplate==3.0.1
urllib3==1.25.7
utils==0.9.0
validators==0.15.0
vehicle-makes==0.1.0
virtualenv==20.0.20
watchdog==0.10.2
wcwidth==0.1.9
webapp2==2.5.2
webencodings==0.5.1
Werkzeug==0.16.0
widgetsnbextension==3.5.1
wrapt==1.11.2
zipp==3.1.0
gunicorn==19.1.0
