@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Poppins:300,400,800&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: #222222;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

body, html {
    overflow: hidden;
}

.loginbox{
    width: 80%;
    height: 80%;
    background: white;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 10% 10%;
    opacity: 0.8;
    box-shadow: 20px 20px 50px 15px black;
    opacity: 80%;
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
    background-color: white;
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
    color: #000;
}

.loginbox p{
    margin: 0;
    padding: 0;
    color: black;
}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]
{
    border: 1px solid white;
    border-bottom: 1px solid black;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.loginbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #1112ae;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
.loginbox input[type="checkbox"]
{
    /* background: #1112ae; */
    color: black;
    display: inline-block;
    width: auto;
}
.loginbox input[type="submit"]:hover
{
    cursor: pointer;
    background: #7171F4;
    color: #000;
}
.loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}

.loginbox a:hover
{
    color: #7171F4;
}

@media screen and (max-width: 500px) {

    .loginbox{
        width: 80%;
        height: 70%;
        background: white;
        color: #fff;
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%,-50%);
        box-sizing: border-box;
        padding: 10% 10%;
        opacity: 0.8;
        box-shadow: 20px 20px 50px 15px black;
    }
    
    .avatar{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        position: absolute;
        top: -50px;
        left: calc(50% - 50px);
    }
    
    h1{
        margin: 0;
        padding: 0 0 20px;
        text-align: center;
        font-size: 22px;
    }
    
    .loginbox p{
        margin: 0;
        padding: 0;
        color: black;
    }
    
    .loginbox input{
        width: 100%;
        margin-bottom: 20px;
    }
    
    .loginbox input[type="text"], input[type="password"]
    {
        border: 1px solid white;
        border-bottom: 1px solid black;
        background: transparent;
        outline: none;
        height: 40px;
        font-size: 16px;
        color: #000;
    }
    .loginbox input[type="submit"]
    {
        border: none;
        outline: none;
        height: 40px;
        background: #1112ae;
        color: #fff;
        font-size: 18px;
        border-radius: 20px;
    }
    .loginbox input[type="submit"]:hover
    {
        cursor: pointer;
        background: #7171F4;
        color: #000;
    }
    .loginbox a{
        text-decoration: none;
        font-size: 12px;
        line-height: 20px;
        color: darkgrey;
    }
    
    .loginbox a:hover
    {
        color: #7171F4;
    }    
}

.title {
    color: #000;
    margin-top: 10px;
    padding-top: 20px;
    /* padding-left: 20%; */
    font-size: 20px;
    text-align: center;
}

.qrimage {
    /* align-items: center */
    /* padding-left: 40%; */
    width: 100px;
    height: 100px;
    left: calc(50% - 50px);
    position: absolute;
}

.loginbox .captureButton {
    display:block;
    width:100px;
    height:100px;
    background-color: #222222;
    opacity: 80%;
    color: white;
    border: 1px solid black;
    box-shadow: 5px 5px 20px 1px black;
    border-radius: 50%;
    font-size: larger;
    margin-left: 30%;
    margin-top: 1%;
    margin-bottom: 20px;
}

.captureButton:hover {
    color: #222222;
    background-color: white;
}

@media screen and (max-width:350px) {
    .captureButton {
        width: 100px;
        height: 100px;
        margin-top: 60%;
        margin-left: 25%;
        margin-bottom: 10px;
    }
}

@media screen and (max-width:400px) {
    .captureButton {
        width: 100px;
        height: 100px;
        margin-top: 60%;
        margin-left: 27.5%;
    }
}