@import url('https://fonts.googleapis.com/css?family=Roboto:300');

body{
    margin: 0;
    padding: 0;
    background-color: #222222;
    /* background-size: cover; */
    background-position: center;
    font-family: 'Roboto';
    text-align:center;
    font-weight:300;
    font-size:32px;
    height:100vh;
    overflow:hidden;
}

/*------------------------------------------Upload Button begins----------------------------*/

.uploadWrapper{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
.uploadLink_wrapper{
    position: relative;
}
  
.upbutton{
    display: block;
    width: 300px;
    height: 75px;
    line-height: 50px;
    font-weight: bold;
    text-decoration: none;
    background: #222222;
    opacity: 80%;
    text-align: center;
    color: white;
    font-size: larger;
    text-transform: uppercase;
    letter-spacing: 5px;
    border: 3px solid #111111;
    transition: all .35s;
    padding-top: 10px;
    top: 20%;
    margin-bottom: 35px;
    margin-top: 30px;
}
  
  
.upbutton:hover{
    border: 3px solid #222222;
    background: transparent;
    color: black;
}

/*------------------------------------------Upload Button ends----------------------------*/

/*------------------------------------------Download Button begins----------------------------*/

.downloadWrapper{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
.downloadLink_wrapper{
    position: relative;
}
  
.downbutton{
    display: block;
    width: 300px;
    height: 75px;
    line-height: 50px;
    font-weight: bold;
    text-decoration: none;
    background: #222222;
    opacity: 80%;
    text-align: center;
    color: white;
    font-size: larger;
    text-transform: uppercase;
    letter-spacing: 5px;
    border: 3px solid #111111;
    transition: all .35s;
    padding-top: 10px;
    top: 20%;
    margin-bottom: 20px;
    margin-top: 60px;
}  
  
.downbutton:hover{
    border: 3px solid #222222;
    background: transparent;
    color: black;
}

/*------------------------------------------Download Button ends----------------------------*/

.title p{
    color: #222222;
    font-size: 35px;
}



  

 
  