body{
    margin: 0;
    padding: 0;
    background-color: black;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

.loginbox{
    width: 80%;
    height: 80%;
    background: white;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 10% 10%;
    opacity: 0.8;
    box-shadow: 20px 20px 50px 15px black;
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.loginbox p{
    margin: 0;
    padding: 0;
    color: black;
}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]
{
    border: 1px solid white;
    border-bottom: 1px solid black;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.loginbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #1112ae;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
.loginbox input[type="submit"]:hover
{
    cursor: pointer;
    background: #7171F4;
    color: #000;
}
.loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}

.loginbox a:hover
{
    color: #7171F4;
}

@media screen and (max-width: 500px) {

    .loginbox{
        width: 80%;
        height: 60%;
        background: white;
        color: #fff;
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%,-50%);
        box-sizing: border-box;
        padding: 10% 10%;
        opacity: 0.8;
        box-shadow: 20px 20px 50px 15px black;
    }
    
    .avatar{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        position: absolute;
        top: -50px;
        left: calc(50% - 50px);
    }
    
    h1{
        margin: 0;
        padding: 0 0 20px;
        text-align: center;
        font-size: 22px;
    }
    
    .loginbox p{
        margin: 0;
        padding: 0;
        color: black;
    }
    
    .loginbox input{
        width: 100%;
        margin-bottom: 20px;
    }
    
    .loginbox input[type="text"], input[type="password"]
    {
        border: 1px solid white;
        border-bottom: 1px solid black;
        background: transparent;
        outline: none;
        height: 40px;
        color: #fff;
        font-size: 16px;
        color: #000;
    }
    .loginbox input[type="submit"]
    {
        border: none;
        outline: none;
        height: 40px;
        background: #1112ae;
        color: #fff;
        font-size: 18px;
        border-radius: 20px;
    }
    .loginbox input[type="submit"]:hover
    {
        cursor: pointer;
        background: #7171F4;
        color: #000;
    }
    .loginbox a{
        text-decoration: none;
        font-size: 12px;
        line-height: 20px;
        color: darkgrey;
    }
    
    .loginbox a:hover
    {
        color: #7171F4;
    }
    
    
}
