@import url('https://fonts.googleapis.com/css?family=Roboto:300');


body
{
    margin: 0;
    padding: 0;
    background-color: #222222;
    font-size: 16px;
    color: white;
    font-weight: 300;
    font-family: "Roboto";
}

#login-box
{
    position: relative;
    margin: 5% auto;
    margin-top: 10%;
    height: 700px;
    width: 300px;
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    opacity: 0.8;
    box-shadow: 20px 20px 50px 15px black;
}

.left-box
{
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    background: white;
    padding: 40px;
    width: 300px;
    height: 400px;
}

h1
{
    margin: 0 0 20px 0;
    font-weight: 300;
    font-size: 28px;
    text-align: center;
    color: #222222;
    font-family: "Roboto";
}

input[type="text"],
input[type="password"]
{
    border: none;
    border-bottom: 1px solid #222222;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
    margin-bottom: 10%;
    width: 225px;
    font-family: "Roboto";
}

input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #222222;
    color: #fff;
    font-size: 18px;
    /* border-radius: 20px; */
    width: 225px;
    margin-bottom: 20px;
    font-family: "Roboto";
}

input[type="submit"]:hover,
input[type="submit"]:focus
{
    background: transparent;
    transition: 0.2s ease;
    color: black;
    border: 1px solid #222222;
}

p
{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 15px;
    color: #222222;
    font-family: "Roboto";
}


