<html>

<head>
    <title>Home | Self-Checkout</title>
    <link rel="stylesheet" type="text/css" href="../static/css/contact.css">
    <link rel="stylesheet" type="text/css" href="../static/css/footer.css">
    <link rel="stylesheet" type="text/css" href="../static/css/navBar.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//code.jquery.com/jquery.min.js"></script>
</head>


<body>

    <div class="navbar">
        <a href = "/home" style="width: 50%;">Self-Checkout</a>
        <a href="/home" class = "btn" style="width: 12.5%;"><i class="fa fa-fw fa-home"></i> Home</a> 
        <a href="/allBills" class = "btn" style="width: 12.5%;"><i class="fa fa-fw fa-money"></i> Upload</a> 
        <a class = "btn" href="/contact" style="width: 12.5%;"><i class="fa fa-fw fa-envelope"></i> Contact</a> 
        <a href="/" class = "btn" style="width: 12.5%;"><i class="fa fa-fw fa-user"></i> Logout</a>
    </div>

    <div class="loginbox">
        <h1>Contact</h1>
        <form action="/contact" method="POST">
            <p>Subject</p>
            <input type="text" name="subject" placeholder="Enter something ...">
            <input type="submit" name="" value="Submit">
        </form>
    </div>

    <footer>
        <!-- <div class="search-text"> <div class="container"><div class="row text-center"><div class="form"><h4>SIGN UP FOR REGULAR UPDATES</h4><form id="search-form" class="form-search form-horizontal"><input type="text" class="input-search" placeholder="Email Address"><button type="submit" class="btn-search">SUBMIT</button></form></div></div></div></div> -->
        <div class="copyright">
            <div class="container">
                <div class="row text-center">
                    <p>Copyright © 2020 All rights reserved</p>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>
