<!DOCTYPE html>
<html>
<head>
<title>Login | Updown</title>
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<body>
    <div class="loginbox">
    <img src="../static/images/logo.jpg" class="avatar">
        <h1>Login</h1>
        <form action = "/" method="POST">
            <p>Username</p>
            <input type="text" name="username" placeholder="Enter the Username">
            <p>Password</p>
            <input type="password" name="password" placeholder="Enter the Password">
            <input type="submit" name="" value="Login">
            <p><a href=#>Forgot password?</a></p>
        </form>
        <!-- {{ confirm }}<br> -->
        <a href="/"><u>Don't have an account yet?</u></a><br>
        <strong><a href="/"><u style="font-size: 15px;color: black;">Login as Guest</u></a></strong>
    </div>

</body>
</head>
</html>
