<!DOCTYPE html>
<html>
<head>
<title>Login | Self-Checkout</title>
    <link rel="stylesheet" type="text/css" href="../static/css/login.css">
    <script src="../static/js/login.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>
    <div class="loginbox">
    <img src="../static/images/logo.jpg" class="avatar">
        <h1>Login</h1>
        <span style="text-align: center; color: aliceblue;">{{message}}</span>
        <form ... onsubmit="return checkForm(this);" method="POST">
            <p>Email ID</p>
            <input type="text" name="username" placeholder="Enter your Email ID">
            <p>Password</p>
            <input type="password" name="password" placeholder="Enter the Password">
            <input type="submit" name="" value="Login" onclick="checkpassword()">
        </form>
        
        <a class="register" href="/register"><u>Don't have an account yet?</u></a>
        <br/>
        <a class="loginAsGuest" href="/guestLogin"><u><strong>Login as Guest</strong></u></a>
    </div>

</body>
</head>
</html>
