<html>

<head>
    <title>View All Bill | Self-Checkout</title>
    <link rel="stylesheet" type="text/css" href="../static/css/viewAllBills.css">
    <link rel="stylesheet" type="text/css" href="../static/css/footer.css">
    <link rel="stylesheet" type="text/css" href="../static/css/navBar.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//code.jquery.com/jquery.min.js"></script>
    <!-- <script async src="https://pay.google.com/gp/p/js/pay.js" onload="onGooglePayLoaded()"></script> -->
</head>


<body>

    <div class="navbar">
        <a href = "/home" style="width: 50%;">Self-Checkout</a>
        <a href="/home" class = "btn" style="width: 12.5%;"><i class="fa fa-fw fa-home"></i> Home</a> 
        <a href="/viewAllBills" class = "btn" style="width: 12.5%;"><i class="fa fa-fw fa-money"></i> Upload</a> 
        <a class = "btn" href="/contact" style="width: 12.5%;"><i class="fa fa-fw fa-envelope"></i> Contact</a> 
        <a href="/" class = "btn" style="width: 12.5%;"><i class="fa fa-fw fa-user"></i> Logout</a>
    </div>

    <a class="title"><p><u>All Bills</u></p></a>

    <table id="bills">
        <tr>
            <th>Sl. No.</th>
            <th>Date</th>
        </tr>
        <tr>
            <td><a href="/viewCurrentBill">1</a></td>
            <td><a href="/viewCurrentBill">21-05-2020</a></td>
        </tr>
        <tr>
            <td><a href="/viewCurrentBill">2</a></td>
            <td><a href="/viewCurrentBill">17-04-2020</a></td>
        </tr>
        <tr>
            <td><a href="/viewCurrentBill">3</a></td>
            <td><a href="/viewCurrentBill">13-03-2020</a></td>
        </tr>
        <tr>
            <td><a href="/viewCurrentBill">4</a></td>
            <td><a href="/viewCurrentBill">07-01-2020</a></td>
        </tr>
    </table>

    <br/>

    <!-- <footer> -->
        <!-- <div class="search-text"> <div class="container"><div class="row text-center"><div class="form"><h4>SIGN UP FOR REGULAR UPDATES</h4><form id="search-form" class="form-search form-horizontal"><input type="text" class="input-search" placeholder="Email Address"><button type="submit" class="btn-search">SUBMIT</button></form></div></div></div></div> -->
        <!-- <div class="copyright">
            <div class="container">
                <div class="row text-center">
                    <p>Copyright © 2020 All rights reserved</p>
                </div>
            </div>
        </div>
    </footer>  -->

</body>
</html>
